[Unit]
Description=Fermilab system inventory

After=local-fs.target remote-fs.target network-online.target
Wants=local-fs.target network.target
Requires=local-fs.target network.target

StartLimitIntervalSec=3600
StartLimitBurst=3

[Service]
Type=oneshot

Environment=ANSIBLE_LOCAL_TEMP=/tmp
Environment=ANSIBLE_REMOTE_TEMP=/tmp
ExecStart=/usr/bin/ansible-playbook -i hosts.yml gather.yml

Restart=on-failure
RestartSec=300
TimeoutStartSec=300

ProtectSystem=strict
ProtectHome=read-only
PrivateTmp=true
ReadOnlyPaths=/
ReadWritePaths=/tmp

User=root
Group=root
UMask=0077
Nice=6

NoNewPrivileges=yes
CapabilityBoundingSet=CAP_DAC_OVERRIDE CAP_DAC_READ_SEARCH CAP_FOWNER CAP_CHOWN
KeyringMode=private
LockPersonality=true
ProtectClock=true
ProtectControlGroups=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
RemoveIPC=true
RestrictRealtime=true

[Install]
WantedBy=multi-user.target
