[Unit]
Description=Run Fermilab system inventory

[Timer]
OnCalendar=daily
Persistent=true

AccuracySec=90
RandomizedDelaySec=9900

[Install]
WantedBy=timers.target
